<footer class="footer">
    <div class="footer__container">
        <div class="footer__contacts">
            Техподдержка:<br>

            <a href="#" target="_blank">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#tg" />
                </svg>
                RomanCryptoM
            </a>

            <br>

            <a href="mailto:texpomosh@one-shopw.com">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#envelope" />
                </svg>
                texpomosh@one-shopw.com
            </a>
        </div>
    </div>
</footer>