<header class="header header--island header--float">
    <div class="header__container">
        <div class="header__logo">
            <a href="#">
                <img src="images/logo.svg" alt="CRYPTOMATIC">
            </a>

            <span class="header__logo-text">официальный партнер биржи</span>

            <img class="header__logo-partner" src="images/icons/bybit.svg" alt="BYBIT">
        </div>

        <div class="header__links">
            <a class="header__button button button--green button--bordered" href="#"><span>Бесплатная консультация!</span></a>

            <a class="header__social" href="#" target="_blank" title="Наш телеграм">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#tg" />
                </svg>
            </a>
        </div>
    </div>
</header>