.form {
    h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media(min-width: $smd) {
            flex-direction: row;
        }
    }

    &__block {
        background-color: var(--black_2);
        border-radius: 24px;
        padding: 24px;
        @media(min-width: $smd) {
            padding: 40px;
            width: 50%;
        }
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__label {
        display: block;
        font-size: 15px;
        line-height: 1.6;
    }

    &__submit {
        margin-top: 24px;
    }
}

.send-success {
    color: var(--primary-a);
}

.send-error {
    color: var(--f-warning);
}

.about-action {
    display: flex;
    flex-direction: column;

    &__title {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33333;
        margin-top: 0;
        margin-bottom: 40px;
    }

    &__note {
        margin-top: auto;

        a {
            align-items: center;
            display: inline-flex;
            gap: 8px;

            svg {
                fill: currentColor;
                height: 16px;
                min-width: 16px;
                width: 16px;
            }
        }
    }
}

.discount {
    align-items: flex-end;
    color: var(--light);
    display: flex;
    gap: 10px;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 40px;

    &__value {
        color: var(--primary-a);
        font-size: 80px;
        font-weight: 800;
        line-height: 60px;
        @media(min-width: $sm) {
            font-size: 96px;
            line-height: 72px;
        }
    }
}