<section class="banner">
    <h1 class="banner__title">Зачем использовать&nbsp;ботов<br> <span class="color-green">в криптотрейдинге?</span></h1>

    <div class="banner__tiles">
        <div class="tiles">
            <div class="tile">
                <p class="tile__title">
                    <span><img src="images/content/tiles/icon_1.svg" alt=""></span>
                    Простота
                </p>

                <div class="tile__text">
                    <p>Простота в освоении, возможность быстро начать зарабатывать</p>
                </div>
            </div>

            <div class="tile">
                <p class="tile__title">
                    <span><img src="images/content/tiles/icon_2.svg" alt=""></span>
                    Охват
                </p>

                <div class="tile__text">
                    <p>Автоматизированная работа с большим массивом данных</p>
                </div>
            </div>

            <div class="tile">
                <p class="tile__title">
                    <span><img src="images/content/tiles/icon_3.svg" alt=""></span>
                    Скорость
                </p>

                <div class="tile__text">
                    <p>Быстрая скорость открытия/закрытия позиций</p>
                </div>
            </div>

            <div class="tile">
                <p class="tile__title">
                    <span><img src="images/content/tiles/icon_4.svg" alt=""></span>
                    Надежность
                </p>

                <div class="tile__text">
                    <p>Отсутствие ошибок, совершаемых из-за эмоций</p>
                </div>
            </div>

            <div class="tile">
                <p class="tile__title">
                    <span><img src="images/content/tiles/icon_5.svg" alt=""></span>
                    Время
                </p>

                <div class="tile__text">
                    <p>Настройка ботов занимает не более 10&nbsp;минут</p>
                </div>
            </div>
        </div>
    </div>

    <p class="banner__text">Ознакомьтесь <span class="color-green">с нашим курсом!</span></p>
</section>