<section class="course page-section">
    <div class="course__grid">
        <div class="course__block">
            <div class="course-list">
                <h2>О Курсе<br> <span class="color-green">«Торговые боты»</span></h2>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_1"><img src="images/content/course/icon_1.svg" alt=""></div>
                    <h3>Полнота</h3>
                    <p>Курс включает комплексное изучение торговых ботов для тонкой настройки под любую ситуацию на рынке и депозита.</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_1"><img src="images/content/course/icon_2.svg" alt=""></div>
                    <h3>Инструменты</h3>
                    <p>В рамках курса Вы получите уникальные инструмент, которые помогут Вам более точно настроить вашего бота.</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_1"><img src="images/content/course/icon_3.svg" alt=""></div>
                    <h3>Оперативность</h3>
                    <p>Мы за живое общение, по этому обучение проходит <span class="color-green">online</span>, что позволяет разбирать самые сложные ситуации на рынке.</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_1"><img src="images/content/course/icon_4.svg" alt=""></div>
                    <h3>Для кого?</h3>
                    <p>Курс подойдёт для пользователя, который только начинает изучать новые инструменты в сфере криптовалют.</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_1"><img src="images/content/course/icon_5.svg" alt=""></div>
                    <h3>Продолжительность</h3>
                    <p>Продолжительность курса составляет 2 недели, за это время Мы пройдем 12 занятий и разберём множество кейсов.</p>
                </div>
            </div>
        </div>

        <div class="course__block">
            <div class="course-list">
                <h2>Чему<br> <span class="color-green">научитесь?</span></h2>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_2"><img src="images/content/course/icon_6.svg" alt=""></div>
                    <h3>Стратегия</h3>
                    <p>Разберётесь в логике работы торговых ботов и составите индивидуальную стратегию</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_2"><img src="images/content/course/icon_7.svg" alt=""></div>
                    <h3>Анализ</h3>
                    <p>Научитесь анализировать рынок криптовалют и буквально, читать графики</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_2"><img src="images/content/course/icon_8.svg" alt=""></div>
                    <h3>Индикаторы</h3>
                    <p>Научитесь настраивать и работать с множеством торговых индикаторов</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_2"><img src="images/content/course/icon_9.svg" alt=""></div>
                    <h3>Расчеты</h3>
                    <p>Научитесь правильно рассчитывать настройки бота, риски и доходность</p>
                </div>

                <div class="feature">
                    <div class="feature__icon feature__icon--type_2"><img src="images/content/course/icon_10.svg" alt=""></div>
                    <h3>Инструменты</h3>
                    <p>Изучите дополнительные инструменты для пассивного дохода</p>
                </div>
            </div>
        </div>
    </div>
</section>