<section class="features page-section">
    <div class="features__inner container">

        <div class="features-list">
            <h2>Преимущества<br> <span class="color-green">использования бота</span></h2>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_1.svg" alt=""></div>
                <h3>Простота</h3>
                <p>Простота в освоении, возможность быстро начать</p>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_2.svg" alt=""></div>
                <h3>Охват</h3>
                <p>Автоматизированная работа с большим массивом данных</p>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_3.svg" alt=""></div>
                <h3>Оперативность</h3>
                <p>Быстрая скорость открытия/закрытия позиций</p>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_4.svg" alt=""></div>
                <h3>Беспристрастность</h3>
                <p>Отсутствие ошибок, совершаемых из-за эмоций</p>
            </div>

            <div class="feature">
                <div class="feature__icon"><img src="images/content/features/img_5.svg" alt=""></div>
                <h3>Скорость</h3>
                <p>Существенная экономия времени трейдера</p>
            </div>
        </div>
    </div>
</section>